<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header>
	<div th:replace = "common/header :: header"></div>
	</header>

	<div>商品詳細画面</div>
	<table>
	　<tr>	
		<th>商品画像</th>
		<th>商品名：</th>
		<th>メーカー名：</th>
		<th>価格：</th>
	 </tr>	
	 <tr>
		<td>
			<img th:src = "@{${sale.saleImgPath}}" alt = "セール商品画像" width = "100"></img>
		</td>
		<td th:text = "${sale.name}"></td>
		<td th:text = "${sale.company.companyName}"></td>
		<td th:text = "${sale.discountedPrice}"></td>
	 </tr>
	</table>
	<h1>口コミ</h1>
	<div>ユーザー名：</div>
	<div>コメント：</div>
	<div>評価：</div>
	<div>投稿日時</div>
	
	
	<form th:action = "@{/reviews/new/{productId}(productId = ${sale.product.productId})}" method = "post">
	  <input type = "submit" value = "口コミ投稿">
	</form>
	
	<form th:action = "@{/order/cart_add}" method = "post">
		<input type = "hidden" name = "productId" th:value = "${sale.product.productId}" />
		<input type = "hidden" name = "saleItemId" th:value = "${sale.saleItemId}" />
		<input type = "hidden" name = "quantity" value = "1" />
	    <input type = "submit" value = "カートに追加">
	</form>
	
	<form th:action="@{/order/single_purchase}" method="post">
		<input type  = "hidden" name = "productId" th:value = "${sale.product.productId}" />
		<input type = "hidden" name = "saleItemId" th:value = "${sale.saleItemId}" />
	  <label for="quantity">数量を選択:</label>
	  <select name="quantity" id="quantity">
	    <option value="1">1</option>
	    <option value="2">2</option>
	    <option value="3">3</option>
	    <option value="4">4</option>
	    <option value="5">5</option>
	  </select>
	  
	  <input type = "submit" value = "単品購入">
	  </form>
	  
	  <script th:inline = "javascript">
	    const price = [[${sale.product.price}]];
		const taxPrice = [[${sale.product.tax_price}]];
	    const stock = [[${sale.product.stock}]];
		console.log("価格：", price);
		console.log("税込価格：", taxPrice);
		console.log("在庫数：", stock);
	  </script>
	  
</body>
</html>