<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel = "stylesheet" th:href = "@{/css/style.css}">

</head>
<body>
	<div th:replace = "common/header :: header"></div>


	<h1>商品一覧画面</h1>
	
	<div class = "product-list-container">
		<div th:if = "${searchResults != null}">
			<h2>検索結果</h2>
			
			<p th:if = "${#lists.isEmpty(searchResults)}">該当する商品が見つかりません。</p>
			
			<div class = "product-grid" th:unless = "${#lists.isEmpty(searchResults)}">
				<div class = "product-card" th:each = "product:${searchResults}">
					<a th:href = "@{/product/detail/{id}(id = ${product.productId})}">
						<img th:src = "@{${product.imgPath}}" alt = "商品画像" class = "product-image">
						<div class = "product-info">
							<p class = "product-name" th:text = "${product.name}"></p>
							<p class = "company-name" th:text = "${product.company.companyName}"></p>
							<p class = "product-price" th:text = "|&yen; ${#numbers.formatInteger(product.price, 1, 'COMMA')}|"></p>
							<p class = "product-tax-price" th:text = "|&yen; ${#numbers.formatInteger(product.taxPrice, 1, 'COMMA')}(税込)|"></p>
						</div>
					</a>
				</div>
			</div>
	    </div>
		
		<div th:if = "${searchResults == null}">
			<h2>全商品</h2>
			<div class  = "product-grid">
				<div class = "product-card" th:each = "product:${products}">
					<a th:href = "@{/product/detail/{id}(id = ${product.productId})}">
						<img th:src = "@{${product.imgPath}}" alt = "商品画像" class = "product-image">
						<div class = "product-info">
							<p class = "product-name" th:text = "${product.name}"></p>
							<p class = "company-name" th:text = "${product.company.companyName}"></p>
							<p class = "product-price" th:text = "|価格：&yen;${#numbers.formatInteger(product.price, 1, 'COMMA')}|"></p>
							<p class = "product-tax-price" th:text = "|税込：&yen;${#numbers.formatInteger(product.taxPrice, 1, 'COMMA')}|"></p>
						</div>
					</a>
				</div>
			</div>
		</div>
    </div>

	

		<div th:replace = "common/footer :: footer"></div>
</body>
</html>