<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カート追加画面</title>
</head>
<body>
	<header>
	<div th:replace = "common/header :: header"></div>
	</header>

	<h1>カート追加画面</h1>
	
	<table>
		<tr>
			<th>商品画像：</th>
			<th>商品名：</th>
			<th>個数：</th>
			<th>合計金額：</th>
		</tr>
		<tr th:each = "order : ${orders}">
			<td><img th:src = "@{${order.product.imgPath}}" alt = "商品画像" width = "100"></td>
			<td th:text = "${order.product.name}"></td>
			<td th:text = "${order.quantity}"></td>
			<td th:text = "${order.totalAmount}"></td>
		</tr>
	</table>
	
	<form th:action = "@{/order/check}" method = "get">
		<button type = "submit">レジに進む</button>
	</form>
	
	<form th:action = "@{/order/cart_detail}" method = "get">
		<button type = "submit">カートに移動</button>
	</form>
	
	<form th:action = "@{/top}" method = "get">
		<button type = "submit">TOP画面に戻る</button>
	</form>
</body>
</html>