<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>購入完了画面</title>
</head>
<body>
	<header>
	<div th:replace = "common/header :: header"></div>
	</header>

		<h1>購入完了画面</h1>
		<h1>注文完了</h1>
		
		<table>
			   <thead>
			        <tr>
			            <th>商品画像</th>
			            <th>商品名</th>
			            <th>数量</th>
			            <th>税込価格</th>
			        </tr>
			   </thead>
			   <tbody>
			        <tr th:each="order : ${orders}">
			            <td>
							<img th:if = "${order.displayImgPath != null}"
							     th:src  = "@{${order.displayImgPath}}" alt = "商品画像" width = "100">
						</td>
			            <td th:text="${order.displayName}"></td>
			            <td th:text="${order.quantity}"></td>
			            <td th:text="${order.product.taxPrice}"></td>
			        </tr>
			   </tbody>
		</table>
		
		<br>
		<div>
			<strong>配送先住所</strong>
			<span th:text = "${#lists.isEmpty(orders) ? '' : orders.get(0).login.address}"></span>
		</div>
		<br>
		<form th:action = "@{/top}" method = "get">
			<button type = "submit">TOP画面に戻る</button>
		</form>
</body>
</html>