<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>購入確認</title>

<link rel = "stylesheet" th:href = "@{/css/style.css}">

</head>
<body>
	<div th:replace = "common/header :: header"></div>

	<div class = "order-check-container">
		<h1>購入確認画面</h1>
		
		<section>
			<div class = "info-item">
				<span class = "info-label">名前：</span>
				<span class = "info-value" th:text = "${login.name}"></span>
			</div>
			
			<div class = "info-item">
				<span class = "info-label">住所：</span>
				<span class = "info-value" th:text = "${login.address}"></span>
			</div>
			
			<div class = "info-item">
				<span class = "info-label">アパート名：</span>
				<span class = "info-value" th:text = "${login.apartment}"></span>
			</div>
		</section>
		
		<section>
			<div class = "order-item-card" th:each = "order : ${orders}">
				<div class = "info-item">
					<span class = "info-label">商品名：</span>
					<span class = "info-value" th:text = "${order.displayName}"></span>
				</div>
				
				<div class = "info-item">
					<span class = "info-label">個数：</span>
					<span class = "info-value" th:text = "${order.quantity}"></span>
				</div>
				
				<div class = "info-item">
					<span class = "info-label">商品金額：</span>
					<span class = "info-value" th:text = "${#numbers.formatInteger(order.totalAmount, 1, 'COMMA')}"></span>
				</div>
			</div>
		</section>
		
		<section class = "order-total-summary">
			<div class = "info-item">
				<span class = "info-label">合計金額:</span>
				<span class = "info-value" th:text = "'¥' + ${#numbers.formatInteger(cartTotalPrice, 1, 'COMMA')}"></span>
			</div>
		</section>
		
		<div class = "order-check-actions">
			<form th:action = "@{/order/order_detail}" method="get">
				<button type = "submit" class = "btn btn-danger">編集</button>
			</form>
			
			<form th:action = "@{/order/complete}" method="post">
				<button type = "submit" class = "btn btn-primary">購入</button>
			</form>
		</div>
	</div>

		<div th:replace = "common/footer :: footer"></div>
</body>
</html>