<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>口コミ投稿画面</title>
</head>
<body>
	<header>
	<div th:replace = "common/header :: header"></div>
	</header>
	
	<h1>口コミ投稿画面</h1>
	<form th:action = "@{/reviews/add}" method = "post" enctype = "multipart/form-data">
		<input type = "hidden" name = "productId" th:value = "${productId}">
		
		<div>
			ユーザー名（任意）<br>
		    <input type = "text" name = "dummyUserName">
		</div>
		<div>
			評価:<br>
		    <div class = "star-rating">
				<input type = "radio" id = "star5" name = "rating" value = "5"><label for = "star5">★</label>
				<input type = "radio" id = "star4" name = "rating" value = "4"><label for = "star4">★</label>
				<input type = "radio" id = "star3" name = "rating" value = "3" checked><label for = "star3">★</label>
				<input type = "radio" id = "star2" name = "rating" value = "2"><label for = "star2">★</label>
				<input type = "radio" id = "star1" name = "rating" value = "1"><label for = "star1">★</label>
			</div>
		</div>
		
		<div>
			メールアドレス:<br>
		    <input type = "email" name = "email"required>
		</div>
		
		<div>
			コメント:<br>
		    <textarea name = "comment"></textarea>
		</div>
		
		<div>
			Choose file<br>
			<input type = "file" name = "reviewImgPath" accept = "image/*">
		</div>
		
		<div>
		    <input type = "submit" value = "投稿">
		</div>
	</form>

	
	
	
</body>
</html>