<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>口コミ投稿画面</title>
</head>
<body>
	<header>
	<div th:replace = "common/header :: header"></div>
	</header>
	
	<h1>口コミ投稿画面</h1>
	<form th:action = "@{/reviews/add}" method = "post" enctype = "multipart/form-data">
		<input type = "hidden" name = "productId" th:value = "1">
		
		<div>
			ユーザー名（任意）<br>
		    <input type = "text" name = "dummyUserName">
		</div>
		<div>
			評価:<br>
		    <select name = "rating">
				<option value = "1">1</option>
				<option value = "2">2</option>
				<option value = "3">3</option>
				<option value = "4">4</option>
				<option value = "5">5</option>
			</select>
		</div>
		
		<div>
			メールアドレス:<br>
		    <input type = "email" name = "email"required>
		</div>
		
		<div>
			コメント:<br>
		    <textarea name = "comment"></textarea>
		</div>
		
		<div>
			Choose file<br>
			<input type = "file" name = "reviewImgPath" accept = "image/*">
		</div>
		
		<div>
		    <input type = "submit" value = "投稿">
		</div>
	</form>

	
	
	
</body>
</html>