<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップ画面</title>

<link rel = "stylesheet" th:href = "@{/css/style.css}">

</head>
<body>

  <div th:replace = "common/header :: header"></div>
 
  <main>
    <h1>TOP画面</h1>
	<h2 class = "sale-name">セール品</h2>
	<div class = "sales-gallery">
			<a th:each = "s : ${sales}" th:href = "@{/sales/discount(saleItemId = ${s.saleItemId})}">
				<img th:src = "@{${s.saleImgPath}}" alt = "セール商品画像">
			</a>
	</div>
  </main>
 
  	<div th:replace = "common/footer :: footer"></div>

</body>
</html>